{% extends 'base.html'%}

{% block title %}Movie Details{% endblock %}

{% block content %}
    <div>
        <div class="text-light text-center">
            <h1>{{ movie['Title'] }}</h1>
        </div>
        <div class="text-light text-center mb-3">
            <label>{{ movie['Year'] }}</label> - 
            <label>{{ movie['Rated'] }}</label> - 
            <label>{{ movie['Runtime'] }}</label>
        </div>
        <div class="text-center mb-3" style="display: flex;">
            <img src="{{ movie['Poster'] }}" alt="Poster for {{ movie['Title'] }}" width="20%">
        </div>
        <div class="text-light text-center movie-categories mb-3">
            {% for genre in movie["Genre"] %}
            <label>{{ genre }}</label>
            {% endfor %}
        </div>
        <div class="text-light">
            <div class="movie-summary mb-3">
                <p>
                    {{ movie['Plot'] }}
                </p>
            </div>
            <div class="row mb-3">
                <div class="col">Director</div>
                <div class="col">
                    {{ movie['Director'] }}
                </div>
            </div>
            <div class="h-divider"></div>
            <div class="row mb-3 mt-3">
                <div class="col">Writer</div>
                <div class="col">{{ movie['Writer'] }}</div>
            </div>
            <div class="h-divider"></div>
            <div class="row mb-3 mt-3">
                <div class="col">Stars</div>        
                <ul class="col nav stars-list">
                    {% for actor in movie['Actors']%}
                    <li>{{ actor }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="h-divider"></div>
        </div>
        <div class="row text-light mt-3 mb-3">
            <div class="col">Genres</div>
            <div class="col nav movie-categories">
                {% for genre in movie['Genre']%}
                    <label>{{ genre }}</label>
                {% endfor %}
            </div>
        </div>
        <div class="h-divider mb-3"></div>
        <div class="text-light">
            <h2 class="mb-3" style="color:gold;">Storyline</h2>
            <p>
                {{ movie['Plot_Full'] }}
            </p>
        </div>
    </div>
{% endblock %}