{% extends 'base.html'%}

{% block title %}Sign Up{% endblock %}

{% block content %}
    
    <div class="text-light text-center">
        <h1 class="mb-3 mt-2">Sign Up</h1>
        <form class="mb-3" method="POST" action="{{ url_for('sign_up')}}">
            {{form.hidden_tag()}}
            {% for field in form %}
                {% if field.id != 'csrf_token' %}
                    <div class="from-group mb-3 name-field">
                        <label class="mb-2">{{ field.label }}</label>
                        <br>
                        {% if field.id == 'phone_number' %}
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">+91</div>
                            </div>
                            {{field(class="form-control")}}
                        </div>
                        {% else %}
                            {{field(class="form-control")}}
                        {% endif %}
                        

                        {% if field.description and not field.errors %}
                            <div style="color: grey;"> {{ field.description }}</div>
                        {% endif %}

                        {% for error in field.errors %}
                            <div class="text-warning">{{ error }}</div>
                        {% endfor %}
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary">
        </form>
        <p>Already have an account? <a href="{{ url_for('sign_in')}}" style="text-decoration: none;">Sign In</a></p>
    </div>

{% endblock %}