{% extends 'base.html'%}

{% block title %}Watch List{% endblock %}

{% block content %}
    <div class="text-light text-center">
        <h1 class="mb-3">My Watch List</h1>
        <div class="watch-list">
            <div class="row">
               <div class="col">Movie 1</div>
               <div class="col"><a href="#">Watch</a></div>
               <div class="col"><button class="btn btn-danger">Remove</button></div>
            </div>
            <div class="row">
                <div class="col">Movie 1</div>
                <div class="col"><a href="#">Watch</a></div>
                <div class="col"><button class="btn btn-danger">Remove</button></div>
            </div>
        </div>
    </div>
{% endblock %}