{% extends 'base.html'%}

{% block title %}Watch List{% endblock %}

{% block content %}
    <div class="text-light text-center mb-3">
        <h1 class="mb-3">My Movies</h1>
        <div class="watch-list">
            {% for cnt, movie in enumerate(movies) %}
            <div class="row">
                <div class="col">
                    {{ cnt+1 }}
                </div>
                <div class="col">
                    {{ movie.movie_title }}
                </div>
                <div class="col">
                    <a href="" style="color: gold;text-decoration:none;">Watch</a>
                </div>
            </div>
            {% if len(movies) != cnt+1 %}
                <hr class="divider">
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}